@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <button class="btn btn-outline-primary mx-1" type="button" data-bs-toggle="offcanvas" data-bs-target="#consoleScrolling" aria-controls="consoleScrolling" title="View Global Console">
                View Console
            </button>
            <button class="btn btn-outline-primary mx-1" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling" title="View Running Scripts">
                View Running Scripts
            </button>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
