<div class="input-group w-100">
    <span class="input-group-text font-weight-bold" id="basic-addon1">bool</span>
    <button class="btn @ButtonColor flex-fill" type="button" id="button-addon1" @onclick="ToggleValue">@(Value ? "Enabled" : "Enable")</button>
</div>