@typeparam T

<div class="btn-toolbar mb-3 w-100" role="toolbar" aria-label="Toolbar with button groups">
    <div class="input-group w-100">
        <label class="input-group-text" for="inputGroupSelect01">@(typeof(T).Name)</label>
        <select class="form-select" id="inputGroupSelect01">
            <option selected @onclick="()=>Selected = 0">@(default(T))</option>
            @for (int i = 1; i < Names.Length; i++)
            {
                int tmp = i;
                <option value="tmp" @onclick="()=>Selected = tmp">@(Values[i])</option>
            }
        </select>
    </div>
</div>