<div class="btn-toolbar w-100" role="toolbar" aria-label="Toolbar with button groups">
    <div class="input-group w-100">
        <div class="input-group-text font-weight-bold" id="btnGroupAddon">Guid</div>
        <input type="text" class="form-control" placeholder="Guid" aria-label="Guid" aria-describedby="btnGroupAddon" @bind-value=InputText style="min-width: 100px;">
        <button class="btn btn-outline-primary" @onclick=Randomize title="Randomize Guid">
            &#127922;
        </button>
    </div>

</div>