@page "/"
@implements IDisposable

<div class="flex">
    @for (int i = 0; i < (ImportedTestAssembly?.Length ?? 0); i++)
    {
        <ScriptCard Script=@ImportedTestAssembly[i]></ScriptCard>
    }
</div>

<DirectorCard></DirectorCard>
<ConsoleCard></ConsoleCard>

@code{
    private static IScriptAssembly ImportedTestAssembly = null;

    public static IScriptAssembly SelectedAssembly => ImportedTestAssembly;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        if (AssemblyDirector.StartingAssembies.Length == 0)
        {
            AssemblyDirector.StartingAssembies = new System.Reflection.Assembly[]{
                    typeof(ServerTestAssembly.MyExampleScript).Assembly
                };
        }
        await AssemblyDirector.LoadStartupAssemblies();
        ImportedTestAssembly = AssemblyDirector.LoadedAssemblies.First().Value;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            if (AssemblyDirector.StartingAssembies.Length == 0)
            {
                AssemblyDirector.StartingAssembies = new System.Reflection.Assembly[]{
                    typeof(ServerTestAssembly.MyExampleScript).Assembly
                };
            }
            await AssemblyDirector.LoadStartupAssemblies();
        }

        if (TaskDirector.ExecutingTasks is false)
        {
            await TaskDirector.ExecuteQueuedTasks();
        }

    }

    public void Dispose()
    {
        TaskDirector.Dispose();
    }
}