<ul class="list-group">
    <li class="list-group-item list-group-item-secondary h5" style="text-align:center;">
        @Name
    </li>
    @for (int i = 0; i < (Settings?.Length ?? 0); i++)
    {
        int index = i;
        <SettingControl Setting=Settings[index]></SettingControl>
    }
</ul>
