<div class="btn-toolbar mb-3 w-100" role="toolbar" aria-label="Toolbar with button groups">
    <div class="input-group w-100">
        <div class="input-group-text font-weight-bold" id="btnGroupAddon">string</div>
        <input type="text" class="form-control" placeholder="string" aria-label="string" aria-describedby="btnGroupAddon" @bind-value=InputText style="min-width: 100px;">
    </div>

</div>